.form-moneyincre {
    max-height: 20px;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.option-moneyincre{
    height: 10%;
    /*max-height: 10px;*/
    width: 100%;
    max-width: 330px;
    padding: 5px;
    margin: 0 auto;
    /*font-size: ;*/
}